@use './mixins' as *;

#app-mount .chat__52833 {
	@include hsl(0%);

	.chatContent_f087cb {
		background: transparent;
	}

	.content__01e65:before {
		content: none;
	}

	// Placeholder
	.wrapper__6b7d8,
	.wrapper__11501 {
		background: transparent;
	}

	// Message
	.message_ccca67.selected_e3bc5d,
	.message_ccca67:not(.mentioned_fa6fd2):hover {
		@include hsl(-1%);
	}

	// Embeds, codeblocks, files
	.markup_a7e664 code,
	.textContainer__65f57,
	.wrapper__8a5dd,
	.wrapperAudio__178e9,
	.attachment__06ca3 {
		border: none;
		@include hsl(4%);
	}
	.footer__90194 {
		border: none;
		@include hsl(2%);
	}
	.embedFull__14919 {
		@include hsl(4%);
	}
	.guildIconImage_c1aa48 {
		border-radius: var(--server-shape) !important;
		background-color: transparent;
	}

	// Reactions
	.reaction_ef7e09 {
		@include hsl(8%);
		border: none;
		&.reactionMe__9fc5c {
			@include hsl(25%);
			.reactionCount-1zkLcN {
				color: #fff;
			}
		}
	}

	// Mention
	.mentioned_fa6fd2 {
		background: rgb(var(--accent), .1);
		&::before {
			background: rgb(var(--accent));
		}
	}
	.wrapper_f5f4c9 {
		background: rgb(var(--accent), .4);
		color: #fff;
		&:hover {
			background: rgb(var(--accent));
		}
	}

	// Dividers
	.content__7191e {
		@include hsl(8%);
		color: var(--text-normal);
	}

	// Action buttons
	.wrapper__4e6b6 {
		@include hsl(6%);
		box-shadow: none;
	}
	.button_d4bf9b:hover {
		@include hsl(12%);
	}

	// Typing
	.base__06abc {
		@include hsl(0%);
		bottom: unset;
		top: -24px;
		pointer-events: none;
		left: 0;
		right: 8px;
		padding-right: 8px;
	}

	// Bars
	.newMessagesBar__8b272 {
		left: 0;
		right: 0;
		background: rgb(var(--accent));
	}
	.jumpToPresentBar__69174 {
		left: 0;
		right: 0;
		padding-bottom: 0;
		@include hsl(2%);
	}
	.clipContainer_ab9cf6 {
		padding-top: 0;
		margin-top: 0;
	}
	.replyBar_ed6afc {
		@include hsl(8%);
	}
}

// Threads
#app-mount {
	.container__694a1,
	.chatContent_f087cb {
		background: transparent;
	}
	.resizeHandle_cc9d34 {
		@include hsl(6%);
	}

	// Threads
	.container__68e43 {
		@include hsl(2%);
		border: none;
	}
	.divider__4df9f {
		display: none;
	}
	.container-3wLKDe {
		background: transparent;
	}
	.container-2qVG6q {
		@include hsl(4%);
		transition: none;
		&:hover {
			@include hsl(7%);
			transform: none;
			box-shadow: none;
		}
	}

	.container-JhuCwn {
		@include hsl(8%);
	}
}

// Chatbox
#app-mount {
	.chat-3JZdy8,
	.chat__52833,
	.chat__4eed1 {
		&::before {
			content: none;
		}

		// Chat icon thingy
		.iconWrapper__8795c {
			@include hsl(8%);
		}

		// Chatbox
		.form_d8a4a1 {
			padding: 0;
			margin: 0;
			min-height: 53px;
			&::before {
				content: none;
			}
		}
		.channelTextArea_c2094b {
			margin-bottom: 0;
		}
		.scrollableContainer_ff917f {
			@include hsl(2%);
			min-height: 53px;
		}
		.slateTextArea_b19976,
		.placeholder_dec8c7 {
			padding: 16px 0 15px;
			box-sizing: border-box;
		}
		.attachButton__56f98 {
			padding: 16px 16px 15px;
			box-sizing: border-box;
			height: 53px;
		}
		.buttons__7ecff,
		.emojiButton__176c8 {
			min-height: 53px;
		}
	}
}