@use './mixins' as *;

#app-mount .wrapper_a7e7a8 {
	@include hsl(6%);

	.scroller__3d071 {
		background: transparent;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.wrapper_d281dd {
		border-radius: var(--server-shape) !important;
		overflow: hidden;
	}
	
	.expandedFolderBackground-1cujaW {
		@include hsl(10%);
		border-radius: var(--server-shape) !important;
	}
	
	.childWrapper__01b9c {
		@include hsl(10%);
		&:hover {
			@include hsl(15%);
		}
	}
	.circleIconButton_d8df29 {
		border-radius: var(--server-shape) !important;
		&:not(.selected-1JjBPm) {
			@include hsl(10%);
		}
	}

	.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c {
		background: rgb(var(--accent));
	}

	// Folders
	.folder__17546 {
		@include hsl(15%);
		border-radius: var(--server-shape) !important;
	}
	.folderIconWrapper__72239 {
		border-radius: var(--server-shape) !important;
	}
	.guildIcon__2e5ab {
		border-radius: var(--server-shape) !important;
	}
}

// Windows
.platform-win .scroller__3d071 {
	padding-top: 12px;
}