@use './mixins' as *;

#app-mount .wrapper_fea3ef {
	@include hsl(6%);

	.scroller_fea3ef {
		background: transparent;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.wrapper__8436d {
		border-radius: var(--server-shape) !important;
		overflow: hidden;
	}
	
	.expandedFolderBackground-1cujaW {
		@include hsl(10%);
		border-radius: var(--server-shape) !important;
	}
	
	.childWrapper_a6ce15 {
		@include hsl(10%);
		&:hover {
			@include hsl(15%);
		}
	}
	.circleIconButton_db6521 {
		border-radius: var(--server-shape) !important;
		&:not(.selected-1JjBPm) {
			@include hsl(10%);
		}
	}

	.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {
		background: rgb(var(--accent));
	}

	// Folders
	.folder_bc7085 {
		@include hsl(15%);
		border-radius: var(--server-shape) !important;
	}
	.folderIconWrapper_bc7085 {
		border-radius: var(--server-shape) !important;
	}
	.guildIcon_bc7085 {
		border-radius: var(--server-shape) !important;
	}
}

// Windows
.platform-win .scroller_fea3ef {
	padding-top: 12px;
}