@use './mixins' as *;

#app-mount {
	.container_c8ffbb {
		@include hsl(5%);
	}
	.members_c8ffbb {
		@include hsl(5%);
		& > div {
			background: transparent;
		}
	
		.member__5d473 {
			padding: 0;
			margin: 0;
			max-width: unset;
			background: transparent;
			&:hover .layout__91a9d {
				@include hsl(8%);
			}
			&.selected__91a9d .layout__91a9d {
				@include hsl(10%);
			}
		}
		.layout__91a9d {
			padding: 0 8px 0 16px;
		}
	}
}