@use './mixins' as *;

#app-mount {
	.container_cbd271 {
		@include hsl(5%);
	}
	.members_cbd271 {
		@include hsl(5%);
		& > div {
			background: transparent;
		}
	
		.member_a31c43 {
			padding: 0;
			margin: 0;
			max-width: unset;
			background: transparent;
			&:hover .layout_e9f61e {
				@include hsl(8%);
			}
			&.selected_e9f61e .layout_e9f61e {
				@include hsl(10%);
			}
		}
		.layout_e9f61e {
			padding: 0 8px 0 16px;
		}
	}
}