@use './mixins' as *;

#app-mount {
	// General modal
	.root__49fc1 {
		@include hsl(0%);
		box-shadow: none;
	}
	.footer-31IekZ,
	.footer_dbca3c {
		box-shadow: none;
		@include hsl(4%);
	}

	// File upload
	.uploadModal_dbca3c {
		@include hsl(0%);
		.scrollableContainer__74017 {
			@include hsl(3%);
		}
	}

	// User modal
	

	// Quickswitch
	.quickswitcher_ac6cb0 {
		@include hsl(4%);
		box-shadow: none;
	}
	.input_ac6cb0 {
		@include hsl(8%);
		box-shadow: none;
	}
	.scroller_ac6cb0 {
		background: transparent;
		margin: 0;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.resultFocused-3aIoYe {
		@include hsl(8%);
	}
}