@use './mixins' as *;

#app-mount {
	// General modal
	.root_a28985 {
		@include hsl(0%);
		box-shadow: none;
	}
	.footer-31IekZ,
	.footer_f06dbb {
		box-shadow: none;
		@include hsl(4%);
	}

	// File upload
	.uploadModal__6eb75 {
		@include hsl(0%);
		.scrollableContainer_ff917f {
			@include hsl(3%);
		}
	}

	// User modal
	

	// Quickswitch
	.quickswitcher_b5bb0a {
		@include hsl(4%);
		box-shadow: none;
	}
	.input__2a648 {
		@include hsl(8%);
		box-shadow: none;
	}
	.scroller_d4b86c {
		background: transparent;
		margin: 0;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.resultFocused-3aIoYe {
		@include hsl(8%);
	}
}