@use './mixins' as *;

#app-mount {
	// Global
	.container_bd15da,
	.stageSection-3mAD8V,
	.scroller_a9a4b4,
	.scroller__244e5,
	.applicationStore__444b9,
	.pageWrapper_c182d3 {
		background: transparent;
	}
	
	// Friends
	.peopleList_d2f527::-webkit-scrollbar {
		display: none;
	}
	.peopleListItem_dab480 {
		margin: 0;
		padding: 0 16px;
		&:hover {
			@include hsl(1.5%);
		}
	}
	.actionButton__2b4bb {
		@include hsl(4%);
		&:hover {
			@include hsl(12%);
		}
	}

	.container__3673d {
		@include hsl(2%);
	}
	.scroller__7c25e {
		border: none;
	}
	.wrapper__3c6d5 {
		border: none;
		@include hsl(6%);
		&:hover {
			@include hsl(10%);
		}
	}

	// Stage Discovery
	.container-S9SaVf {
		border: none;
		@include hsl(4%);
	}
	.container-7Unqij {
		@include hsl(2%);
	}

	// Library
	.header__119bc {
		background: transparent;
	}

	// Nitro
	.detailsBlock-FoDTGA,
	.feature-2IUcBI {
		@include hsl(4%);
	}

	// Discovery
	.sidebar_e031be .scrollerBase-_bVAAt::-webkit-scrollbar {
		display: none;
	}
	.container_a48b21 {
		margin: 0;
		padding: 0;
		&.selected__7f4cb .layout_bb8e67 {
			background: rgb(var(--accent));
		}
	}
	.card__86773 {
		@include hsl(4%);
		&:hover {
			@include hsl(8%);
		}
	}

}