@use './mixins' as *;

#app-mount {
	// Global
	.container__133bf,
	.stageSection-3mAD8V,
	.scroller__4a84a,
	.scroller__244e5,
	.applicationStore_f07d62,
	.pageWrapper_a3a4ce {
		background: transparent;
	}
	
	// Friends
	.peopleList__5ec2f::-webkit-scrollbar {
		display: none;
	}
	.peopleListItem_cc6179 {
		margin: 0;
		padding: 0 16px;
		&:hover {
			@include hsl(1.5%);
		}
	}
	.actionButton_f8fa06 {
		@include hsl(4%);
		&:hover {
			@include hsl(12%);
		}
	}

	.container__7d20c {
		@include hsl(2%);
	}
	.scroller__7d20c {
		border: none;
	}
	.wrapper__00943 {
		border: none;
		@include hsl(6%);
		&:hover {
			@include hsl(10%);
		}
	}

	// Stage Discovery
	.container-S9SaVf {
		border: none;
		@include hsl(4%);
	}
	.container-7Unqij {
		@include hsl(2%);
	}

	// Library
	.header_adb41f {
		background: transparent;
	}

	// Nitro
	.detailsBlock-FoDTGA,
	.feature-2IUcBI {
		@include hsl(4%);
	}

	// Discovery
	.sidebar_c48ade .scrollerBase-_bVAAt::-webkit-scrollbar {
		display: none;
	}
	.container__91a9d {
		margin: 0;
		padding: 0;
		&.selected__91a9d .layout__91a9d {
			background: rgb(var(--accent));
		}
	}
	.card_e90879 {
		@include hsl(4%);
		&:hover {
			@include hsl(8%);
		}
	}

}