@use './mixins' as *;

#app-mount {
	// Global
	.container_c2739c,
	.stageSection-3mAD8V,
	.scroller_ad8f79,
	.scroller__244e5,
	.applicationStore_cecc86,
	.pageWrapper_a3a4ce {
		background: transparent;
	}
	
	// Friends
	.peopleList_e0840f::-webkit-scrollbar {
		display: none;
	}
	.peopleListItem_d51464 {
		margin: 0;
		padding: 0 16px;
		&:hover {
			@include hsl(1.5%);
		}
	}
	.actionButton_e01b91 {
		@include hsl(4%);
		&:hover {
			@include hsl(12%);
		}
	}

	.container_bf550a {
		@include hsl(2%);
	}
	.scroller_bf550a {
		border: none;
	}
	.wrapper_cd82a7 {
		border: none;
		@include hsl(6%);
		&:hover {
			@include hsl(10%);
		}
	}

	// Stage Discovery
	.container-S9SaVf {
		border: none;
		@include hsl(4%);
	}
	.container-7Unqij {
		@include hsl(2%);
	}

	// Library
	.header_f1629a {
		background: transparent;
	}

	// Nitro
	.detailsBlock-FoDTGA,
	.feature-2IUcBI {
		@include hsl(4%);
	}

	// Discovery
	.sidebar_a4d4d9 .scrollerBase-_bVAAt::-webkit-scrollbar {
		display: none;
	}
	.container_d808b0 {
		margin: 0;
		padding: 0;
		&.selected_d808b0 .layout_d808b0 {
			background: rgb(var(--accent));
		}
	}
	.card_e90879 {
		@include hsl(4%);
		&:hover {
			@include hsl(8%);
		}
	}

}