@use './mixins' as *;

#app-mount {
	// Scrollbars
	.scroller_ac6d1c {
		&::-webkit-scrollbar {
			display: none;
		}
	}

	// General menus
	.menu__088f7 {
		@include hsl(12%);
		box-shadow: none;

		.scroller-1bVxF5 {
			padding: 0;
			& > div[aria-hidden="true"],
			&::-webkit-scrollbar {
				display: none;
			}
		}
		.separator-1So4YB {
			margin: 0;
			background: rgb(255 255 255 / .01);
		}
		.item-1OdjEX {
			margin: 0;
			padding: 8px;
			&.colorDefault-CDqZdO.focused_dcafb9 {
				@include hsl(9%);
			}
			&.colorDanger-3n-KnP.focused_dcafb9 {
				background: var(--discord-red);
			}
			&.colorPremium-vwmYZQ {
				color: var(--discord-pink);
				&.focused_dcafb9 {
					background: var(--discord-pink);
					color: #fff;
				}
			}
			& + .layer-2aCOJ3 {
				margin-left: -4px;
			}
		}
	}

	// User popout
	.userProfileInnerThemedNonPremium_ed9022 {
		@include hsl(8%, 'background');
		.overlayBackground__2666e {
			@include hsl(3%);
		}
	}

	// Search suggestions
	.container__84c26 {
		@include hsl(7%);
		box-shadow: none;
	}
	.option-2KkUJO {
		&:after {
			content: none;
		}
		&.selected-rZcOL- {
			@include hsl(4%);
			&::before {
				width: 34px;
				@include hsl(4%);
			}
		}
	}

	// Search results
	.searchResultsWrap__2e184 {
		@include hsl(2%);
	}
	.searchHeader__4d70e {
		@include hsl(6%);
	}
	.channelName-3w2Y3c {
		background: transparent;
	}
	.searchResult__00093 {
		@include hsl(-1%);
	}

	// Status selector
	.statusItem__9b512 {
		padding: 0 4px;
		.description__38e73 {
			display: none;
		}
	}

	// Auto complete
	.autocomplete__743a5 {
		@include hsl(3%);
		box-shadow: none;
		bottom: 100%;
	}
	.wrapper__85934 {
		@include hsl(4%);
	}
	.selected__46356,
	.selected__46356:hover {
		@include hsl(12%);
	}
	.categoryHeader__70c8e {
		@include hsl(3%);
	}
	.base__87e58.selected-3H3-RC {
		@include hsl(6%);
	}

	// Pinned messages
	.messagesPopoutWrap__10dd1 {
		@include hsl(7%);
		box-shadow: none;
		code,
		.embedFull__14919 {
			@include hsl(12%);
		}
	}
	.header__21b33 {
		@include hsl(10%);
		box-shadow: none;
		.button__292b6 {
			@include hsl(20%);
			color: #fff;
		}
	}
	.messageGroupWrapper__1fce2 {
		@include hsl(5%);
		border: none;
	}
	.jumpButton__309d6 {
		@include hsl(20%);
		color: #fff;
		&:hover {
			@include hsl(30%);
		}
	}

	// Inbox/Mentions
	.container_eb737e {
		@include hsl(7%);
		box-shadow: none;
	}
	.icon_c68d99 {
		background-color: transparent;
	}
	.channelHeader_ea0f89 {
		@include hsl(7%);
	}
	.messageContainer_cb3d47 {
		@include hsl(5%);
	}
	.closeButton__58b98 {
		@include hsl(12%);
	}

	// Emojipicker/Gif selector
	.contentWrapper_e0bb2c {
		@include hsl(12%);
	}
	.container_ec5ce2,
	.container__33507 {
		@include hsl(3%);
	}
	.header_e5d8b2,
	.header-JHwfVI,
	.header__643ce {
		box-shadow: none;
	}
	.navButton_b588d0:hover {
		@include hsl(20%);
	}
	.navButtonActive__0c878 {
		background: rgb(var(--accent));
		&:hover {
			background: rgb(var(--accent));
		}
	}
	.bodyWrapper__5f209,
	.content-1CboaJ,
	.wrapper__13e5b {
		@include hsl(7%);
	}
	.wrapper__91b2c {
		@include hsl(7%);
	}
	.inspector__80c84 {
		@include hsl(9%);
	}
	.categoryFadeBlurple-1HuV1x {
		background: rgb(var(--accent));
		opacity: .8;
	}
	.result-3OpoO7:hover:after {
		box-shadow: inset 0 0 0 2px rgb(var(--accent));
	}
	.emojiItemSelected__023be {
		@include hsl(20%);
	}
	.categoryItemDefaultCategorySelected__7d6e0,
	.guildIconWithoutImage_c23d9e,
	.guildIcon_ed1ab4 {
		@include hsl(15%);
		&:hover {
			@include hsl(25%);
		}
	}
}