@use './mixins' as *;

#app-mount {
	// Scrollbars
	.scroller_e89578 {
		&::-webkit-scrollbar {
			display: none;
		}
	}

	// General menus
	.menu_dc52c6 {
		@include hsl(12%);
		box-shadow: none;

		.scroller-1bVxF5 {
			padding: 0;
			& > div[aria-hidden="true"],
			&::-webkit-scrollbar {
				display: none;
			}
		}
		.separator-1So4YB {
			margin: 0;
			background: rgb(255 255 255 / .01);
		}
		.item-1OdjEX {
			margin: 0;
			padding: 8px;
			&.colorDefault-CDqZdO.focused-3qFvc8 {
				@include hsl(9%);
			}
			&.colorDanger-3n-KnP.focused-3qFvc8 {
				background: var(--discord-red);
			}
			&.colorPremium-vwmYZQ {
				color: var(--discord-pink);
				&.focused-3qFvc8 {
					background: var(--discord-pink);
					color: #fff;
				}
			}
			& + .layer-2aCOJ3 {
				margin-left: -4px;
			}
		}
	}

	// User popout
	.userProfileInnerNonPremium-1XjSjn {
		@include hsl(8%, 'background');
		.overlayBackground-1KgwVi {
			@include hsl(3%);
		}
	}

	// Search suggestions
	.container_d6dad3 {
		@include hsl(7%);
		box-shadow: none;
	}
	.option-2KkUJO {
		&:after {
			content: none;
		}
		&.selected-rZcOL- {
			@include hsl(4%);
			&::before {
				width: 34px;
				@include hsl(4%);
			}
		}
	}

	// Search results
	.searchResultsWrap__9f374 {
		@include hsl(2%);
	}
	.searchHeader__19d87 {
		@include hsl(6%);
	}
	.channelName-3w2Y3c {
		background: transparent;
	}
	.searchResult_dcd237 {
		@include hsl(-1%);
	}

	// Status selector
	.statusItem__3440f {
		padding: 0 4px;
		.description__76091 {
			display: none;
		}
	}

	// Auto complete
	.autocomplete_df266d {
		@include hsl(3%);
		box-shadow: none;
		bottom: 100%;
	}
	.wrapper__4f229 {
		@include hsl(4%);
	}
	.selected__608f1,
	.selected__608f1:hover {
		@include hsl(12%);
	}
	.categoryHeader_f97a5f {
		@include hsl(3%);
	}
	.base__76a71.selected-3H3-RC {
		@include hsl(6%);
	}

	// Pinned messages
	.messagesPopoutWrap_b3b384 {
		@include hsl(7%);
		box-shadow: none;
		code,
		.embedFull__8dc21 {
			@include hsl(12%);
		}
	}
	.header_f5cc88 {
		@include hsl(10%);
		box-shadow: none;
		.button_ddf91e {
			@include hsl(20%);
			color: #fff;
		}
	}
	.messageGroupWrapper_f8c6e9 {
		@include hsl(5%);
		border: none;
	}
	.jumpButton__0329d {
		@include hsl(20%);
		color: #fff;
		&:hover {
			@include hsl(30%);
		}
	}

	// Inbox/Mentions
	.container__20de0 {
		@include hsl(7%);
		box-shadow: none;
	}
	.icon_d2bc2f {
		background-color: transparent;
	}
	.channelHeader__5d30c {
		@include hsl(7%);
	}
	.messageContainer_aa7d14 {
		@include hsl(5%);
	}
	.closeButton_ba6c7d {
		@include hsl(12%);
	}

	// Emojipicker/Gif selector
	.contentWrapper__321ed {
		@include hsl(12%);
	}
	.container_e4c233,
	.container__7712a {
		@include hsl(3%);
	}
	.header__55964,
	.header-JHwfVI,
	.header_f71767 {
		box-shadow: none;
	}
	.navButton__05cc7:hover {
		@include hsl(20%);
	}
	.navButtonActive__735cb {
		background: rgb(var(--accent));
		&:hover {
			background: rgb(var(--accent));
		}
	}
	.bodyWrapper_cc3635,
	.content-1CboaJ,
	.wrapper_e3070a {
		@include hsl(7%);
	}
	.wrapper__7a35f {
		@include hsl(7%);
	}
	.inspector__993e1 {
		@include hsl(9%);
	}
	.categoryFadeBlurple-1HuV1x {
		background: rgb(var(--accent));
		opacity: .8;
	}
	.result-3OpoO7:hover:after {
		box-shadow: inset 0 0 0 2px rgb(var(--accent));
	}
	.emojiItemSelected__1a09a {
		@include hsl(20%);
	}
	.categoryItemDefaultCategorySelected__8245a,
	.guildIconWithoutImage__9b81a,
	.guildIcon__4d796 {
		@include hsl(15%);
		&:hover {
			@include hsl(25%);
		}
	}
}