@use './mixins' as *;

#app-mount .layer__2efaa:not(.baseLayer__8fda3) {
	transform: scale(1) !important;

	// Sidebar
	.sidebarRegionScroller__1fa7e {
		@include hsl(2%);
	}
	.sidebar__9e3e2 {
		padding-right: 0;
	}
	.item-3XjbnG {
		margin: 0;
		&:hover {
			@include hsl(4%);
		}
		&.selected-g-kMVV {
			@include hsl(10%);
			&.premiumTabItem-1QTfBr {
				background: rgb(var(--accent)) !important;
			}
		}
	}

	// Main content
	.contentRegionScroller__86c79 {
		@include hsl(0%);
	}

	// Card
	.formNotice-2nS8ey {
		@include hsl(4%);
		border: none;
	}

	// My Account
	.accountProfileCard__22589 {
		@include hsl(4%);
		.avatar__6c108 {
			@include hsl(4%);
			@include hsl(4%, 'border-color');
		}
		.background_b61fcc {
			@include hsl(6%);
		}
		.fieldList_aab0de {
			background: transparent;
		}
	}

	// Authored apps
	.authedApp-1tw-eT {
		@include hsl(4%);
		border: none;
	}

	// Connections
	.accountList-305sx3,
	.connection-1fbD7X {
		@include hsl(4%);
	}
	.accountBtnInner-3XK70s,
	.integration-3kMeY4,
	.connectionHeader-2rV1ze {
		@include hsl(6%);
	}

	// Billing
	.paymentPane__9cf01 {
		@include hsl(4%);
		.scrollerBase-_bVAAt {
			border: none;
		}
	}
	.paginator_e620d3 {
		background: transparent;
	}
	.payment__7d702 {
		background: transparent;
		@include hsl(8%, 'border-color');
	}
	.expandedInfo__47bad {
		@include hsl(2%);
	}
}