@use './mixins' as *;

#app-mount .layer_d4b6c5:not(.baseLayer_d4b6c5) {
	transform: scale(1) !important;

	// Sidebar
	.sidebarRegionScroller_c25c6d {
		@include hsl(2%);
	}
	.sidebar_c25c6d {
		padding-right: 0;
	}
	.item-3XjbnG {
		margin: 0;
		&:hover {
			@include hsl(4%);
		}
		&.selected-g-kMVV {
			@include hsl(10%);
			&.premiumTabItem-1QTfBr {
				background: rgb(var(--accent)) !important;
			}
		}
	}

	// Main content
	.contentRegionScroller_c25c6d {
		@include hsl(0%);
	}

	// Card
	.formNotice-2nS8ey {
		@include hsl(4%);
		border: none;
	}

	// My Account
	.accountProfileCard_b69b77 {
		@include hsl(4%);
		.avatar_b69b77 {
			@include hsl(4%);
			@include hsl(4%, 'border-color');
		}
		.background_b69b77 {
			@include hsl(6%);
		}
		.fieldList_b69b77 {
			background: transparent;
		}
	}

	// Authored apps
	.authedApp-1tw-eT {
		@include hsl(4%);
		border: none;
	}

	// Connections
	.accountList-305sx3,
	.connection-1fbD7X {
		@include hsl(4%);
	}
	.accountBtnInner-3XK70s,
	.integration-3kMeY4,
	.connectionHeader-2rV1ze {
		@include hsl(6%);
	}

	// Billing
	.paymentPane_f66684 {
		@include hsl(4%);
		.scrollerBase-_bVAAt {
			border: none;
		}
	}
	.paginator_f66684 {
		background: transparent;
	}
	.payment_a28a08 {
		background: transparent;
		@include hsl(8%, 'border-color');
	}
	.expandedInfo_a28a08 {
		@include hsl(2%);
	}
}