@use './mixins' as *;

#app-mount .sidebar_ded4b5 {
	@include hsl(2%);

	.privateChannels__93473,
	.scroller__4b984,
	.container__590e2 {
		background: transparent;
	}
	.scroller_f0f183,
	.scroller__4b984 {
		&::-webkit-scrollbar {
			display: none;
		}
	}

	// Search bar
	.searchBar_e4ea2a {
		@include hsl(8%);
		box-shadow: none;
	}
	.searchBarComponent__22760 {
		@include hsl(4%);
	}

	// Header
	.header__104ca {
		@include hsl(8%);
		box-shadow: none;
	}

	// Banner
	.content-2a4AW9 > div[style="height: 84px;"] {
		height: 135px !important;
	}
	.animatedContainer__341f6 {
		top: 48px;
	}

	// DMs
	.interactive__776ee {
		background: transparent;
		&:hover {
			@include hsl(4%);
		}
		&.selected_d94cf9 {
			@include hsl(6%);
		}
	}
	.link__2e8e1 {
		max-width: unset;
		margin-left: 0;
		padding: 0;
		background: transparent;
		.layout__59abc {
			padding: 0 8px 0 16px;
		}
	}

	// Channel
	.content_b60865 {
		margin: 0;
	}
	.wrapper__7bcde {
		padding: 0;
		&.modeUnread_f74c03 {
			svg {
				color: #fff;
			}
		}
		&:hover {
			.link__95dc0 {
				@include hsl(4%);
			}
		}
		&.modeSelected__487d6 {
			svg {
				color: #fff;
			}
			.link__95dc0 {
				@include hsl(6%);
			}
		}
	}
	.wrapper__7bcde {
		padding: 0;
		margin: 0;
	}
	.link__95dc0 {
		padding: 6px 16px;
	}
	.unread__48cf4 {
		z-index: 1;
		left: 0;
	}

	// Panels
	.panels__58331 {
		@include hsl(5%);
	}
	.container_ca50b9 {
		border: none;
		padding-bottom: 0;
	}
	.container_ca50b9,
	.activityPanel__22355 {
		background: transparent;
	}
}