@use './mixins' as *;

#app-mount .sidebar_a4d4d9 {
	@include hsl(2%);

	.privateChannels_f0963d,
	.scroller_c47fa9,
	.container_ee69e0 {
		background: transparent;
	}
	.scroller_c43953,
	.scroller_c47fa9 {
		&::-webkit-scrollbar {
			display: none;
		}
	}

	// Search bar
	.searchBar_f0963d {
		@include hsl(8%);
		box-shadow: none;
	}
	.searchBarComponent_f0963d {
		@include hsl(4%);
	}

	// Header
	.header_fd6364 {
		@include hsl(8%);
		box-shadow: none;
	}

	// Banner
	.content-2a4AW9 > div[style="height: 84px;"] {
		height: 135px !important;
	}
	.animatedContainer_fd6364 {
		top: 48px;
	}

	// DMs
	.interactive_f5eb4b {
		background: transparent;
		&:hover {
			@include hsl(4%);
		}
		&.selected_f5eb4b {
			@include hsl(6%);
		}
	}
	.link_c91bad {
		max-width: unset;
		margin-left: 0;
		padding: 0;
		background: transparent;
		.layout_ec8679 {
			padding: 0 8px 0 16px;
		}
	}

	// Channel
	.content_d80634 {
		margin: 0;
	}
	.wrapper_d8bfb3 {
		padding: 0;
		&.modeUnreadImportant_d8bfb3 {
			svg {
				color: #fff;
			}
		}
		&:hover {
			.link_d8bfb3 {
				@include hsl(4%);
			}
		}
		&.modeSelected_d8bfb3 {
			svg {
				color: #fff;
			}
			.link_d8bfb3 {
				@include hsl(6%);
			}
		}
	}
	.wrapper_d8bfb3 {
		padding: 0;
		margin: 0;
	}
	.link_d8bfb3 {
		padding: 6px 16px;
	}
	.typeThread_d8bfb3 .link_d8bfb3 {
		padding-left: 42px;
	}
	.unread_d8bfb3 {
		z-index: 1;
		left: 0;
	}

	// Panels
	.panels_a4d4d9 {
		@include hsl(5%);
	}
	.container_b2ca13 {
		border: none;
		padding-bottom: 0;
	}
	.container_b2ca13,
	.activityPanel_a4d4d9 {
		background: transparent;
	}
}