@use './mixins' as *;

#app-mount {
	.threadSidebar-1o3BTy {
		margin-left: 0;
		@include hsl(2%);
		.scrollableContainer__33e06 {
			@include hsl(6%);
		}
	}

	// Channels
	.typeThread__2f91c .wrapper__7bcde {
		padding-left: 42px;
	}
	.spine__88e6d {
		z-index: 1;
	}

	// Chat
	.container__767d1 {
		@include hsl(4%);
	}
}