@use './mixins' as *;

#app-mount {
	.threadSidebar-1o3BTy {
		margin-left: 0;
		@include hsl(2%);
		.scrollableContainer_d0696b {
			@include hsl(6%);
		}
	}

	// Channels
	.typeThread_d8bfb3 .wrapper_d8bfb3 {
		padding-left: 42px;
	}
	.spine_e1e976 {
		z-index: 1;
	}

	// Chat
	.container_c15230 {
		@include hsl(4%);
	}
}