#app-mount .layer-3QrUeG {
  transform: none !important;
  transition: none !important;
  animation: none !important;
  top: 0 !important;
  padding-top: 0 !important;
}
#app-mount .layer-3QrUeG[aria-label] .standardSidebarView-3F1I7i {
  top: 0;
}
#app-mount .layer-3QrUeG:first-of-type {
  transform: scale(1,1) !important;
  opacity: 1 !important;
}
.layer-3QrUeG[aria-label*="SETTINGS"], .layer-3QrUeG[aria-label*="RTC"] {
  // Close
  .toolsContainer-1edPuj {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: auto;
    .closeButton-1tv5uR {
      border: none;
      background: transparent;
      height: 46px;
      flex: none;
      &:hover {
        background: var(--bg5);
      }
    }
    .tools-3-3s-N {
      position: relative;
    }
    .keybind-KpFkfr {
      display: none;
    }
  }
  // Global
  .cardPrimary-1Hv-to {
    background: var(--bg4);
    border: none;
    color: #fff;
  }
  .container-1nZlH6, .css-13kbzi0-control, .css-15ejc46-control, .lookFilled-1h1y05.select-1Pkeg4 {
    background-color: var(--bg4);
    border: none;
  }
  .css-1yegjoj-control, .css-2yldzf-control {
    background-color: var(--bg6);
    border: none;
  }
  .css-181m2lf-menu {
    background-color: var(--bg8);
    border: none;
    z-index: 2;
    box-shadow: none;
  }
  .css-12o7ek3-option {
    background-color: var(--bg7);
  }
  .css-12o7ek3-option {
    background-color: var(--bg10);
  }
  .card-FDVird:before {
    background: var(--bg5);
    border: none;
  }
  // Left
  .sidebarRegion-VFTUkN {
    background: var(--bg4);
    .sidebar-CFHs9e {
      padding: 10px 0;
    }
  }
  // Right
  .contentRegion-3nDuYy {
    background: var(--bg2);
    .contentColumnDefault-1VQkGM {
      padding-top: 30px;
    }
    // General
    .faded-3bns_w {
      color: #666;
    }
    .input-cIJ7To {
      background: var(--bg4);
      border: none;
    }
    .divider-3573oO {
      background-color: var(--bg5);
    }
    .hiddenLibraryApplication-2esFER {
      border-color: var(--bg5);
    }
    .game-1ipmAa, .installationPath-24giJj, .item-3eFBNF, .notificationsSound-27jFSh {
      box-shadow: inset 0 -1px 0 var(--bg5);
    }
    .h5-18_1nd:not(.isEnabled-24g9qA) {
      color: #ddd;
    }
    .description-3_Ncsb {
      color: #888;
    }
    .emptyUsers--hiToV,
    .formNotice-2_hHWR {
      background: var(--bg4);
      border: none;
    }
    // My account
    .userInfoViewing-16kqK3 {
      background: var(--bg4);
      border: none;
      .flexChild-faoVW3 > div:not([class]) .selectable-x8iAUj {
        position: relative;
        color: transparent;
        transition: 0.2s ease;
        &:before {
          content: "hover to reveal";
          position: absolute;
          top: 4px;
          left: 0;
          color: #888;
          font-size: 12px;
          transition: 0.2s ease;
          font-weight: bold;
        }
        &:hover {
          color: #fff;
          &:before {
            color: transparent;
          }
        }
      }
    }
    .userInfoViewingButton-2-jbH9 {
      top: 0;
      right: 0;
      height: 100%;
      font-size: 0;
      background: transparent;
      width: 86px;
      transition: 0.1s ease;
      &:before {
        content: "";
        -webkit-mask: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMyAxNy4yNVYyMWgzLjc1TDE3LjgxIDkuOTRsLTMuNzUtMy43NUwzIDE3LjI1ek0yMC43MSA3LjA0Yy4zOS0uMzkuMzktMS4wMiAwLTEuNDFsLTIuMzQtMi4zNGMtLjM5LS4zOS0xLjAyLS4zOS0xLjQxIDBsLTEuODMgMS44MyAzLjc1IDMuNzUgMS44My0xLjgzeiIvPjwvc3ZnPg==") !important;
        height: 32px;
        width: 32px;
        -webkit-mask-size: cover !important;
        display: block;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        background: var(--bg3);
      }
    }
    .userInfoEditing-1CEzdT {
      border: none;
      background: var(--bg4);
      padding: 0;
      & > div:first-child {
        padding: 15px 15px 25px;
        box-sizing: border-box;
        h5 {
          color: #aaa;
        }
        .input-cIJ7To {
          border: none;
          background: var(--bg3);
        }
        .multiInputLast-1aQ3YA:before {
          content: none;
        }
      }
      .avatarUploaderIndicator-2G-aIZ, .divider-3573oO {
        display: none;
      }
      & > div:last-child {
        background: var(--bg3);
        padding: 15px;
        box-sizing: border-box;
      }
    }
    // Privacy
    .radioGroup-1GBvlr {
      .cardPrimaryEditable-3KtE4g {
        background-color: var(--bg3);
        border: none;
        padding: 0 !important;
        transition: 0.2s ease;
        .label-cywgfr {
          padding: 8px;
        }
      }
      .checkbox-1ix_J3 {
        height: 100% !important;
        border: none !important;
        width: 0 !important;
        transition: 0.2s ease;
        &.checked-3_4uQ9 {
          width: 32px !important;
        }
      }
    }
    // Authorized Apps
    .cardPrimaryOutline-29Ujqw.card-3Qj_Yx {
      background: var(--bg3);
      border: none;
      padding: 15px;
      box-sizing: border-box;
    }
    // Connections
    .accountList-33MS45 {
      background: var(--bg4);
      border: none;
      .primary-jw0I4K {
        color: #aaa;
      }
      .connectedAccounts-2-XP1G {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 14px 15px;
        .accountBtn-2Nozo3 {
          margin-right: 0;
          .accountBtnInner-sj5jLs {
            width: 100%;
            margin: 0;
            background-color: var(--bg6);
            border: none;
            &:hover {
              background-color: var(--bg7);
            }
          }
        }
      }
    }
    .connection-1fbD7X {
      box-shadow: none;
      .connectionHeader-2MDqhu {
        border: none;
      }
      .integration-3kMeY4 {
        border: none;
      }
    }
    // Billing
    .card-VoqMMK.cardPrimaryEditable-3KtE4g {
      background: var(--bg4);
      border: none;
      padding: 0;
      form {
        .divider-3573oO {
          display: none;
        }
        label {
          padding: 0 20px;
          margin: 0 0 20px;
        }
        > div {
          padding: 20px;
          margin: 0;
          &:first-child {
            padding-bottom: 0;
          }
          .input-cIJ7To {
            background: var(--bg2);
          }
          .css-17mfgdg-container .css-13kbzi0-control {
            background: var(--bg3);
          }
        }
        .formActions-34l65m {
          background: var(--bg3);
        }
      }
    }
    .paymentPane-3bwJ6A {
      background: var(--bg4);
      .bottomDivider-1K9Gao {
        border-bottom-color: var(--bg8);
      }
      .paginator-166-09 {
        background: transparent;
        .payment-xT17Mq {
          background: transparent;
        }
      }
      .expandedInfo-3kfShd {
        background-color: var(--bg3);
      }
    }
    .codeRedemptionRedirect-1wVR4b {
      background-color: var(--bg4);
      border: none;
    }
    // Discord Nitro
    .background-3N1V7e {
      display: none;
    }
    .container-2Zlzt0 {
      background: var(--bg6);
    }
    .tier1Banner-1B_WXY {
      background-image: none;
      background-color: var(--bg6);
    }
    // Voice & Video
    .previewOverlay-2O7_KC {
      background-color: var(--bg4);
      border: none;
    }
    .wrapper-3Z-vWm {
      height: 32px !important;
    }
    .micTestCaption-r5_z_T {
      margin-top: 10px;
      margin-left: -3px;
    }
    .progress-1IcQ3A {
      background-color: var(--bg5);
    }
    .container-3PXSwK {
      width: 100% !important;
    }
    .notches-1sAcEM {
      background: none;
    }
    // Game Library
    .installationPathEditing-1kEfQT {
      background: var(--bg4);
      border: none;
      padding: 0;
      [role="progressbar"] {
        position: absolute;
        top: 20px;
        left: 15px;
      }
      .flexChild-faoVW3 {
        margin-left: 0;
        > div {
          padding: 20px 20px 0 80px;
          &:last-child {
            padding: 20px;
            background: var(--bg3);
          }
        }
        .input-cIJ7To {
          background: var(--bg2);
        }
        .marginTop20-3TxNs6 {
          margin-top: 0;
        }
        > label {
          padding-left: 80px;
          margin-bottom: 20px;
        }
        .separator-2V0h65 {
          display: none;
        }
      }
    }
    // Audit Log
    .auditLog-3jNbM6 {
      background: var(--bg4);
      border: none;
      color: #888;
      .divider-1pnAR2 {
        display: none;
      }
      .headerExpanded-CUEwZ5 {
        background-color: var(--bg6);
      }
    }
    // Webhooks
    .webhookRow-20TsIQ {
      background: var(--bg4);
      border: none;
    }
  }
}
// BetterDiscord
#bd-settingspane-container .style-description {
  border-bottom-color: var(--bg5) !important;
}
#bd-settingspane-container .bda-slist .ui-switch-item {
  background-color: var(--bg3);
  border: none;
  color: #fff;
  padding: 0;
  margin: 5px 0 10px;
  max-height: 44px;
  transition: 0.4s ease;
  transition-delay: 0s;
  > div {
    padding: 10px;
  }
  .bda-header {
    border: none;
    background: var(--bg4);
  }
  .bda-footer {
    border: none;
    background: var(--bg4);
  }
  &:hover {
    max-height: 244px;
    transition-delay: 1s;
  }
}