@use './mixins' as *;

#app-mount {
	// Scrollbars
	.scroller-3gAZLs {
		&::-webkit-scrollbar {
			display: none;
		}
	}

	// General menus
	.menu-3sdvDG {
		@include hsl(12%);
		box-shadow: none;

		.scroller-3BxosC {
			padding: 0;
			& > div[aria-hidden="true"],
			&::-webkit-scrollbar {
				display: none;
			}
		}
		.separator-2I32lJ {
			margin: 0;
			background: rgb(255 255 255 / .01);
		}
		.item-1tOPte {
			margin: 0;
			padding: 8px;
			&.colorDefault-2K3EoJ.focused-3afm-j {
				@include hsl(9%);
			}
			&.colorDanger-2qLCe1.focused-3afm-j {
				background: var(--discord-red);
			}
			&.colorPremium-p4p7qO {
				color: var(--discord-pink);
				&.focused-3afm-j {
					background: var(--discord-pink);
					color: #fff;
				}
			}
			& + .layer-v9HyYc {
				margin-left: -4px;
			}
		}
	}

	// User popout
	.userPopout-xaxa6l {
		box-shadow: none;
		@include hsl(8%);
		&[style*="--user-background"] {
			.banner-2QYc2d {
				height: 120px;
    		background: var(--background-floating) var(--user-background) var(--user-popout-position, center) center / cover !important;
			}
			.avatarPositionNormal-aZjAsn {
				top: 76px;
			}
		}
	}
	.avatar-37jOim {
		@include hsl(8%, 'border-color');
		@include hsl(8%);
	}
	.body-3HBlXn {
		padding: 0 16px 16px !important;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.bodyInnerWrapper-26fQXj {
		background: transparent;
	}
	.note-1oo11U {
		margin: 0;
	}
	.textarea-2r0oV8,
	.input-2_SIlA {
		@include hsl(4%);
		border: none;
		&:hover {
			@include hsl(2%);
		}
		&:focus {
			@include hsl(0%);
		}
	}
	.footer-3UKYOU {
		background: transparent;
	}

	// Search suggestions
	.container-3ayLPN {
		@include hsl(7%);
		box-shadow: none;
	}
	.option-96V44q {
		&:after {
			content: none;
		}
		&.selected-rZcOL- {
			@include hsl(4%);
			&::before {
				width: 34px;
				@include hsl(4%);
			}
		}
	}

	// Search results
	.searchResultsWrap-3-pOjs {
		@include hsl(2%);
	}
	.searchHeader-2XoQg7 {
		@include hsl(6%);
	}
	.channelName-1JRO3C {
		background: transparent;
	}
	.searchResult-9tQ1uo {
		@include hsl(-1%);
	}

	// Status selector
	.statusItem-33LqPf {
		padding: 0 4px;
		.description-2L932D {
			display: none;
		}
	}

	// Auto complete
	.autocomplete-1vrmpx {
		@include hsl(3%);
		box-shadow: none;
		bottom: 100%;
	}
	.wrapper-2Gsate {
		@include hsl(4%);
	}
	.selected-3xBBKs,
	.selected-3xBBKs:hover {
		@include hsl(12%);
	}
	.categoryHeader-O1zU94 {
		@include hsl(3%);
	}
	.base-1pYU8j.selected-1Tbx07 {
		@include hsl(6%);
	}

	// Pinned messages
	.messagesPopoutWrap-1MQ1bW {
		@include hsl(7%);
		box-shadow: none;
		code,
		.embedFull-2tM8-- {
			@include hsl(12%);
		}
	}
	.header-ykumBX {
		@include hsl(10%);
		box-shadow: none;
		.button-1-5Aqk {
			@include hsl(20%);
			color: #fff;
		}
	}
	.messageGroupWrapper-o-Zw7G {
		@include hsl(5%);
		border: none;
	}
	.jumpButton-3DTcS_ {
		@include hsl(20%);
		color: #fff;
		&:hover {
			@include hsl(30%);
		}
	}

	// Inbox/Mentions
	.container-enaOkj {
		@include hsl(7%);
		box-shadow: none;
	}
	.icon-1Itzco {
		background-color: transparent;
	}
	.channelHeader-3Gd2xq {
		@include hsl(7%);
	}
	.messageContainer-gbhlwo {
		@include hsl(5%);
	}
	.closeButton-1152MI {
		@include hsl(12%);
	}

	// Emojipicker/Gif selector
	.contentWrapper-SvZHNd {
		@include hsl(12%);
	}
	.container-2XeR5Z,
	.container-cMG81i {
		@include hsl(3%);
	}
	.header-8ilj5e,
	.header-1TOWci,
	.header-2k4I2o {
		box-shadow: none;
	}
	.navButton-2gQCx-:hover {
		@include hsl(20%);
	}
	.navButtonActive-1MkytQ {
		background: rgb(var(--accent));
		&:hover {
			background: rgb(var(--accent));
		}
	}
	.bodyWrapper-3G0FZZ,
	.content-ySCtCx,
	.wrapper-OxgYJ1 {
		@include hsl(7%);
	}
	.wrapper-1-Fsb8 {
		@include hsl(7%);
	}
	.inspector-S2gM3e {
		@include hsl(9%);
	}
	.categoryFadeBlurple-1j72_A {
		background: rgb(var(--accent));
		opacity: .8;
	}
	.result-3w1ZcL:hover:after {
		box-shadow: inset 0 0 0 2px rgb(var(--accent));
	}
	.emojiItemSelected-1aLkfV {
		@include hsl(20%);
	}
	.categoryItemDefaultCategorySelected-_HCKoz,
	.guildIconWithoutImage-2JZx6N,
	.guildIcon-3h-1IH {
		@include hsl(15%);
		&:hover {
			@include hsl(25%);
		}
	}
}