#app-mount {
  .contentRegionScroller-26nc1e,
  .sidebarRegionScroller-3MXcoP {
    background: transparent;
  }
  .header-2V-4Sw {
    background: var(--bg7);
    box-shadow: none;
  }
  .layer-v9HyYc[style*="left"] .submenuPaddingContainer-fiOCHc {
    margin-left: -4px;
  }
  .scroller-3BxosC {
    padding: 0;
  }
  .separator-2I32lJ {
    margin: 0;
  }
}