@use 'theme';
@use 'root';

@use 'app';
@use 'guilds';
@use 'channels';
@use 'chat';
@use 'members';
@use 'pages';
@use 'settings';

@use 'bd';

@use 'inputs';
@use 'toolbar';
@use 'popouts';
@use 'modals';

:root {
	--hue: 220;
	--saturation: 0%;
	--lightness: 8%;

	--accent: 59, 130, 246;

	--avatar-shape: 0%;
	--server-shape: 0%;

	--font: 'Roboto';
}